<div ng-controller="MainCtrl">

	<div class="container">
		<div class="content">
			<div class="row">
        <div class="span9">

          <div ng-repeat="channel in channels" id="chat" class="well">
           <p class="lead">{{channel.label}}</p>
           <ul class="unstyled">
            <!-- FIXME: The filter must only check against the message.channel_name -->
            <li ng-repeat="message in messages | filter:channel.label">
              <div class="message">
                <label class="label label-info">{{message.nickname}}</label><span>{{message.msg_body}}</span>
              </div>
            </li>
            </ul>
          </div>

      <div class="form-inline well">
       <label class="label label-info" style="padding: 6px 4px;">{{active_channel}}</label><input type="text" placeholder="type your message here" class="input-xlarge" id="message" autofocus="autofocus" ng-model="message" ui-keyup="{13:'sendMessage($event)'}">
     </div>
   </div>
				<div class="span3">
					<div class="well sidebar-nav">
						<h3>Users</h3>
						<ul class="nav nav-list" id="user-list">
							<li class="nav-header">Active</li>
              <li ng-repeat="user in users">
                {{user.first_name + " " + user.last_name}}
              </li>
						</ul>
					</div>
					<div class="well sidebar-nav">
						<h3>Channels</h3>
						<ul class="nav nav-list" id="channels-list">
							<li class="nav-header">Active</li>
              <li ng-repeat="channel in channels">
                {{channel.label}}
              </li>
						</ul>
					</div>
					<input type="text" placeholder="Create a new channel" ng-model="join_channel_name" ui-keyup="{13:'joinChannel($event)'}">
					<!-- <input type="text" placeholder="Leave a channel" ng-model="leave_channel_name" ui-keyup="{13:'leaveChannel($event)'}"> -->
				</div>
			</div>
		</div><!--/row-->
	</div><!--/content-->
	<div id="footer">
		<div class="container">
			<p class="muted credit"><a href="http://platan.us">Platanus</a></p>
		</div>
	</div>
</div> <!-- /container -->

</div>
